<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <button>Category1</button>
        <button>Category2</button>
        <button>Category3</button>
        <button>Category4</button>
        <button>Category5</button>
    </div>
</body>
</html>
