

<ul class="navbar-nav">
    <li class="nav-item">
        <form asp-action ="Index" asp-controller="Product" method="get">
            <div class="input-group">
                <input class="form-control" name="SearchTerm">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </li>
</ul>