<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <button class="nav-link btn btn-link text-dark">This is a Wishlist partial</button>
    </div>
</body>
</html>
